body {
    display: flex;
    justify-content: space-around;
}

#app {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}
form input, form textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #9b59b6;
    color: black;
    cursor: pointer;
}

.edit-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f9b;
    color: black;
    cursor: pointer;
}

.delete-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e76c3c;
    color: black;
    cursor: pointer;
}

.move-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #9b59b6;
    color: black;
    cursor: pointer;
}

.return-reason-input {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.priority-1 {
    background-color: red;
}

.priority-2 {
    background-color: yellow;
}

.priority-3 {
    background-color: green;
}

li {
    list-style-type:none
}
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 12px;
}
